.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.visible {
  opacity: 1;
}
.content {
  transition: all ease-in-out 1s;
}
.imgContainer {
  position: relative;
  width: 81%;
}
.img {
  margin-top: 2.5rem;
  position: relative !important;
  height: initial !important;
}
.textSection {
  font-family: "NotoSans";
  width: 33rem;
  /* height: 15rem; */
  font-size: 1.25rem;
  margin-top: 0.2rem;
  line-height: 1.81rem;
  font-weight: 400;
}
.br {
  height: 0.7rem; /* 원하는 높이로 설정 */
  display: block; /* 높이를 지정하기 위해 블록 요소로 변경 */
  content: ""; /* 내용 없음 */
}
