.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.visible {
  opacity: 1;
}
.content {
  transition: all ease-in-out 1s;
}
.imgContainer {
  position: relative;
  width: 70%;
}
.img {
  margin-top: 2.5rem;
  position: relative !important;
  height: initial !important;
}
.textSection {
  width: 33rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 2rem;
}
