.commentSection {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.addCommentBox {
  display: flex;
  width: 100%;
  margin-top: 5.5rem;
  border: 1px solid #4b4b4b;
  background-color: #ffcc60;
}
.addCommentBox textarea {
  width: 83%;
  height: 11.25rem;
  padding: 1rem;
  resize: none;
  border: none;
}
.addCommentBox button {
  width: 17%;
  /* height: 1.25rem; */
  border-left: 1px solid #4b4b4b;
  font-family: "NotoSans";
  font-size: 1.25rem;
  font-weight: 400;
}

.commentsBox {
  width: 100%;
}
.commentLi {
  width: 100%;
  border-bottom: 1px solid #4b4b4b;
}
.userInfo {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  margin-left: 1rem;
}
.userInfo img {
  width: 2.425rem;
  height: 2.25rem;
}
.nickname {
  font-family: "NotoSans";
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 1rem;
}
.voteResult {
  font-family: "NotoSans";
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 1.25rem;
}
.editBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.7rem;
}
.editTextarea {
  margin-left: 4rem;
  margin-top: 0.7rem;
  width: 70%;
  height: 3rem;
  resize: none;
  border: 1px solid rgba(45, 45, 45, 0.4);
  border-radius: 5px;
}
.editComplete {
  margin-top: 1rem;
  margin-left: 4rem;
  color: #7e7e7e;
  font-size: 0.93rem;
  text-decoration: underline;
  cursor: pointer;
}
.commentContent {
  width: 90%;
  margin-top: 0.7rem;
  margin-left: 4rem;
  margin-bottom: 1.25rem;
  overflow-wrap: break-word;
}
.commentLikeBtnDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
.updateAndDelete {
  display: flex;
  margin-left: 3.8rem;
}
.updateAndDelete button {
  color: #7e7e7e;
  font-size: 0.93rem;
  text-decoration: underline;
  cursor: pointer;
}
.likeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0.7rem;
  position: relative;
  width: 3rem;
  height: 1.5rem;
}
.commentLikeBtn img {
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 1.18rem;
  height: 1rem;
}
.likeCount {
  position: absolute;
  top: 0.1rem;
  left: 1.7rem;
  font-size: 1rem;
  line-height: 1rem;
}
