.header {
  width: 100dvw;
  display: flex;
  align-items: center;
}
.header span {
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 5rem;
}
.line {
  height: 1px;
  background-color: black;
  margin-left: 2.5rem;
  margin-right: 1.4rem;
}
.popcorn {
  width: 5.1rem;
  height: 4.25rem;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 430px) {
  .header {
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
  }
  .header span {
    font-size: 2rem;
    margin-left: 0;
  }
  .line {
    display: none;
  }
  .popcorn {
    width: 2.6rem;
    height: 2.2rem;
    animation: rotate 5s linear infinite;
  }
}
