.container {
  width: 100dvw;
  height: 30rem;
  margin-top: 4rem;
}
.commentsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.commentsSection {
  display: flex;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.noComments {
  background-color: pink;
}
.carousel {
  display: flex;
  overflow: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  gap: 4rem;
}
