.container {
  width: 100dvw;
  height: 24rem;
  margin-top: 10rem;
}
.myDebatesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.debatesSection {
  display: flex;
  height: 90%;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.carousel {
  display: flex;
  overflow: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  gap: 2rem;
}
.noDebates {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NotoSans";
  font-size: 1.2rem;
}
.popcorn {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
