.container {
  width: 100dvw;
  height: 24rem;
  margin-top: 10rem;
}
.myDebatesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.debatesSection {
  display: flex;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.carousel {
  display: flex;
  overflow: auto;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  gap: 2rem;
}
