.buttonDiv {
  margin: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 2.8rem;
  border-radius: 90px;
  border: 1px solid black;
  background-color: #fff;
}
.buttonDiv:hover {
  background-color: #ffcc60;
  cursor: pointer;
}
.buttonDiv:hover .button {
  cursor: pointer;
}
.button {
  font-family: "NotoSans";
  font-size: 1rem;
  font-weight: bold;
}
