.container {
  width: 100dvw;
  height: 477dvh;
}
.topBtn {
  position: fixed;
  bottom: 2rem;
  right: 1.81rem;
  z-index: 10;
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
}
.topBtn:hover {
  transform: scale(1.1);
}
.section {
  width: 100dvw;
  height: 100dvh;
}
.section1Wrapper {
  width: 100dvw;
  height: 100%;
  padding: 0;
  position: relative;
}
.section1Wrapper video,
.section1Wrapper source {
  width: 100dvw;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
.personalTasteSection {
  width: 100dvw;
  height: 77dvh;
  background-image: url("/종이-지도.jpg");
}
.section2Wrapper {
  display: flex;
  flex-direction: column;
}
.sectionHeader {
  width: 100dvw;
  height: 18dvh;
  display: flex;
  align-items: center;
}
.section3Wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("/종이-지도.jpg");
}
.section3span {
  height: 2dvh;
  border-bottom: 1px solid #ffcc60;
  padding-bottom: 0.3rem;
  overflow: hidden;
}
.scrollText {
  white-space: nowrap;
  animation: scroll-right 50s linear infinite;
}
@keyframes scroll-right {
  from {
    transform: translateX(-180%); /* 시작 지점: 왼쪽 끝에서 시작 */
  }
  to {
    transform: translateX(100%); /* 종료 지점: 오른쪽 끝까지 이동 */
  }
}
.section3Body {
  width: 100dvw;
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mobileSection3 {
  display: none;
}

@media all and (max-width: 430px) {
  .container {
    width: 100dvw;
    height: 95rem;
  }
  .section {
    width: 100dvw;
    height: 24.1rem;
  }
  .sectionHeader {
    width: 100dvw;
    height: 3rem;
  }
  .section1Wrapper {
    width: 100dvw;
    height: 24.1rem;
    padding: 0;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }
  .section1Wrapper video,
  .section1Wrapper source {
    width: 100dvw;
    position: absolute;
  }
  .personalTasteSection {
    width: 100dvw;
    height: 22rem;
  }
  .section2 {
    width: 100dvw;
    height: 26rem;
  }
  .section2Wrapper .sectionHeader {
    margin-top: 4rem;
  }
  .section3 {
    /* width: 100dvw;
    height: 24rem; */
    display: none;
  }
  .section3Wrapper {
    background: none;
  }
  .section3span,
  .section3Body {
    display: none;
  }
  .section4 {
    display: none;
  }
}
