.container {
  width: 100dvw;
  height: 100%;
  display: flex;
}
.leftSection {
  width: 35%;
  height: 100%;
  position: fixed;
  background-color: #ffcc60;
}
.info {
  margin-top: 12rem;
  margin-left: 2.93rem;
  display: flex;
  align-items: center;
}
.category {
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-weight: 300;
  font-size: 1.56rem;
  line-height: 1.25rem;
}
.date {
  margin-left: 3rem;
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-weight: 300;
  font-size: 1.56rem;
  line-height: 1.25rem;
}
.title {
  margin-top: 4rem;
  font-family: "NotoSans";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.125rem;
  margin-left: 2.93rem;
  max-width: 83%;
  word-break: keep-all;
}
.likeAndShare {
  position: fixed;
  bottom: 4rem;
  margin-left: 2.93rem;
}
.likeDiv {
  display: flex;
  align-items: center;
}
.likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likeButton img {
  width: 1.5rem;
  height: 1.4rem;
}
.likeCount {
  margin-left: 0.3rem;
}
.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.shareButton img {
  width: 1.5rem;
  height: 1.4rem;
}
.rightSection {
  width: 65%;
  height: 100%;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  position: relative;
  width: 70%;
}
.articleImg {
  position: relative !important;
  height: initial !important;
}
.summarySection {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  background-image: url("/세줄요약-배경.png");
  background-size: cover;
}
.mainText {
  width: 80%;
  margin: 6rem 0 4rem 0;
}
.mainText div {
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-size: 1.25rem;
  font-weight: bold;
}
.summaryArticle {
  margin-top: 1rem;
}
.mainText p {
  font-family: "NotoSans";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.7rem;
}
.articleSection {
  width: 75%;
  margin-top: 2.5rem;
}
.article {
  font-family: "NotoSans";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}
.emptySummarySpace {
  width: inherit;
  height: 0.2rem;
}
.emptySpace {
  width: inherit;
  height: 0.8rem;
}
@media all and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leftSection {
    width: 77%;
    height: 8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  .info {
    margin-top: 12rem;
    margin-left: 0;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .category {
    font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .date {
    font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
  }
  .title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.125rem;
    text-align: center;
    max-width: 77%;
    word-break: keep-all;
  }
  .likeAndShare {
    display: none;
  }
  .rightSection {
    width: 100%;
    height: 100%;
    margin: 5rem 0 0 0;
  }
}
