.navbarVisible {
  position: fixed;
  width: 100dvw;
  height: 4rem;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  transition: top ease 0.8s;
}
.navbarHidden {
  position: fixed;
  width: 100dvw;
  height: 4rem;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: -100px;
  transition: top ease 0.8s;
}
.navLeft {
  display: flex;
  align-items: center;
}
.logo {
  color: #000;
  font-family: Lemon;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -1.65px;
  display: flex;
  margin-left: 3rem;
}
.logo img {
  width: 18rem;
}
.span {
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 1.8rem;
}

.navRight {
  display: flex;
  align-items: center;
  margin-right: 2.6rem;
}
.loginButton {
  color: #000;
  text-align: right;
  font-family: -apple-system, YEONGJUPunggiGinseng, Noto_Sans_KR;
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1.875rem;
  text-align: center;
  margin-top: 0.15rem;
}
.loginButton:hover {
  cursor: pointer;
}
.hamburgerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  width: 2.7rem;
  height: 2.7rem;
}
.hamburgerButton:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}
