.container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.qNum {
  margin-top: 4.75rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.question {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 88%;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  text-align: center;
}
.optionsContainer {
  position: absolute;
  top: 16rem;
  background-image: url("/투표배경.png");
  background-size: cover;
  width: 88%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explain {
  font-size: 1rem;
  font-weight: 300;
  color: #7e7e7e;
}
.surveyBtns {
  display: flex;
  align-items: center;
  gap: 10.75rem;
}
.surveyBtns button {
  width: 16rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-image: url("/assets/svg/취향저격-호버전.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease;
  cursor: pointer;
}
.surveyBtns button:hover {
  background-image: url("/assets/svg/취향저격-호버후.svg");
}
.endContainer {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstDiv {
  font-size: 1.875rem;
  font-weight: bold;
}
.secondDiv {
  font-size: 3.125rem;
  font-weight: bold;
  margin-top: 1rem;
}
.button {
  width: 8.75rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  border: 1px solid #000;
  border-radius: 90px;
  margin-top: 2.18rem;
  cursor: pointer;
}
