.container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  position: relative;
  width: inherit;
}
.titles {
  position: absolute;
  top: 2.5rem;
  max-width: 80%;
  max-height: 80%;
  height: 80%;
  margin-left: 5rem;
  margin-right: 3rem;
}
.ul {
  height: 90%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
}

.title span {
  color: black;
  font-size: 1.68rem;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 2.2rem;
}
.title span:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.buttonDiv {
  width: 17.5rem;
  height: 3rem;
  border-radius: 6.5rem;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  position: absolute;
  bottom: 2.5rem;
}
.buttonDiv:hover {
  background-color: #ffcc60;
  cursor: pointer;
}
.button {
  font-size: 1.3rem;
  /* font-weight: 400; */
}
.button:hover {
  cursor: pointer;
}
