.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.filters {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 2.43rem;
}
.filter {
  width: 3.75rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 90px;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: transparent;
  transition: all ease 0.3s;
}
.filter:hover,
.filter.selected {
  opacity: 1;
  font-weight: bold;
  background-color: #ffcc60;
}

@media all and (max-width: 430px) {
  .filters {
    gap: 1.5rem;
  }
}
